@charset "UTF-8";
@font-face {
  font-family: "MCGeoN2-Bold";
  src: url("../fonts/MCGeoN2-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MCGeoN2-Bold.otf") format("opentype"),
    url("../fonts/MCGeoN2-Bold.woff") format("woff"),
    url("../fonts/MCGeoN2-Bold.ttf") format("truetype"),
    url("../fonts/MCGeoN2-Bold.svg#MCGeoN2-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MCGeoN2-Regular";
  src: url("../fonts/MCGeoN2-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MCGeoN2-Regular.otf") format("opentype"),
    url("../fonts/MCGeoN2-Regular.woff") format("woff"),
    url("../fonts/MCGeoN2-Regular.ttf") format("truetype"),
    url("../fonts/MCGeoN2-Regular.svg#MCGeoN2-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MCGeoN2-Light";
  src: url("../fonts/MCGeoN2-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MCGeoN2-Light.otf") format("opentype"),
    url("../fonts/MCGeoN2-Light.woff") format("woff"),
    url("../fonts/MCGeoN2-Light.ttf") format("truetype"),
    url("../fonts/MCGeoN2-Light.svg#MCGeoN2-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MCGeoM3-Bold";
  src: url("../fonts/MCGeoM3-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MCGeoM3-Bold.otf") format("opentype"),
    url("../fonts/MCGeoM3-Bold.woff") format("woff"),
    url("../fonts/MCGeoM3-Bold.ttf") format("truetype"),
    url("../fonts/MCGeoM3-Bold.svg#MCGeoM3-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MCGeoM3-Light";
  src: url("../fonts/MCGeoM3-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MCGeoM3-Light.otf") format("opentype"),
    url("../fonts/MCGeoM3-Light.woff") format("woff"),
    url("../fonts/MCGeoM3-Light.ttf") format("truetype"),
    url("../fonts/MCGeoM3-Light.svg#MCGeoM3-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MCGeoM3-Regular";
  src: url("../fonts/MCGeoM3-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MCGeoM3-Regular.otf") format("opentype"),
    url("../fonts/MCGeoM3-Regular.woff") format("woff"),
    url("../fonts/MCGeoM3-Regular.ttf") format("truetype"),
    url("../fonts/MCGeoM3-Regular.svg#MCGeoM3-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot") format("embedded-opentype"),
    url("../fonts/icomoon.ttf") format("truetype"),
    url("../fonts/icomoon.woff") format("woff"),
    url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e90e";
}
.icon-close:before {
  content: "\e910";
}
.icon-Download:before {
  content: "\e911";
}
.icon-facebook1:before {
  content: "\e912";
}
.icon-Linkedin1 .path1:before {
  content: "\e913";
  color: rgb(40, 40, 40);
}
.icon-Linkedin1 .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-Linkedin1 .path3:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-Linkedin1 .path4:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-magnifying-glass:before {
  content: "\e917";
}
.icon-menu:before {
  content: "\e918";
}
.icon-pdf:before {
  content: "\e919";
  color: #0053fb;
}
.icon-placeholder1:before {
  content: "\e91a";
  color: #0053fb;
}
.icon-plus:before {
  content: "\e91b";
  color: #0053fb;
}
.icon-right-arrow-11:before {
  content: "\e91c";
}
.icon-right-arrow1:before {
  content: "\e91e";
  color: #0dd194;
}
.icon-twitter:before {
  content: "\e920";
  color: #f0f0f0;
}
.icon-arrow-point-to-right:before {
  content: "\e900";
}
.icon-arrow-point-to-right-1:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-Linkedin .path1:before {
  content: "\e903";
  color: rgb(40, 40, 40);
}
.icon-Linkedin .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-Linkedin .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-Linkedin .path4:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-linkedin-letters:before {
  content: "\e907";
  color: #f0f0f0;
}
.icon-placeholder:before {
  content: "\e908";
  color: #0053fb;
}
.icon-right-arrow:before {
  content: "\e909";
  color: #0dd194;
}
.icon-right-arrow-1:before {
  content: "\e90a";
  color: #0dd194;
}
.icon-right-arrow-2:before {
  content: "\e90b";
  color: #f5f6f6;
}
.icon-right-arrow-3:before {
  content: "\e90c";
  color: #f5f6f6;
}
.icon-twitter-square:before {
  content: "\e91d";
}


/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "icomoon";
  font-size: 20px;
  line-height: 1;
  color: #0dd194;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "";
}
[dir="rtl"] .slick-prev:before {
  content: "";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "";
}
[dir="rtl"] .slick-next:before {
  content: "";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "icomoon";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

a {
  color: #031a63;
}

a:hover {
  text-decoration: none;
  color: #031a63;
  transition-duration: 0.3s;
}

a:focus {
  text-decoration: none;
  outline: none;
  color: #031a63;
}

a.active {
  color: #031a63;
}

h1.center {
  width: 100%;
  text-align: center;
}

body {
  border-top: 5px solid #031a63;
}

header {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(1, 0, 1, 0.1);
}

header ul li:last-child {
  padding-right: 0;
}

header ul li:first-child {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
}

header ul li {
  list-style-type: none;
  float: left;
  padding: 40px 35px;
}

header ul li a {
  color: #031a63;
  font-size: 20px;
  font-family: "MCGeoM3-Regular";
}

header ul li a:hover {
  color: #0dd194;
}

.carousel-inner {
  height: 496px;
}

.carousel-control {
  top: 45%;
  font-size: 40px;
  color: white;
  opacity: 1;
  background-image: none !important;
}

.text-over-slide {
  position: absolute;
  top: 14%;
  left: 0;
  right: 0;
}

.text-over-slide h1 {
  width: 80%;
  color: white;
  font-size: 45px;
  font-family: "MCGeoM3-Bold";
  padding-bottom: 15px;
  height: 183px;
  overflow: hidden;
}

.text-over-slide .slider-more {
  padding: 10px 0px;
}
.carousel-indicators .active{
  height: 18.7px;
  width: 18.7px;
}
.carousel-indicators li{
  height: 16.7px;
  width: 16.7px;
}

.text-over-slide .slider-more a {
  font-family: "MCGeoN2-Regular";
  font-size: 20px;
<<<<<<< HEAD
  color: #0053fb;
=======
  color: white;
>>>>>>> f61b116744c5b4abf9f5550b5181601af9ff4f09
}

.text-over-slide .slider-more a > span {
  position: relative;
  top: 3px;
  left: 8px;
}

.text-over-slide .slider-more a:hover {
  color: #0dd194;
}

.section-header {
  font-family: "MCGeoM3-Bold";
  font-size: 38px;
  color: #031a63;
  padding-bottom: 77px;
  padding-left: 15px;
  margin: 0;
}

.padding-left-none {
    padding-left: 0px;
}

a.section-more {
  position: absolute;
  top: 10px;
  right: 10px;
   font-family: MCGeoN2;
   color: #282828;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
}

a.section-more span {
  position: relative;
  left: 10px;
  top: 2px;
  font-size: 12px;
  transition-duration: 0.2s;
}

a.section-more:hover {
  color: #0dd194;
  transition-duration: 0.3s;
}

a.section-more:hover span {
  left: 15px;
  transition-duration: 0.3s;
  color: #0dd194;
}

.news-section-inner {
  position: relative;
}

.news-section-inner article:nth-of-type(3n + 3) {
  padding: 0 0 0 60px;
}

.news-section-inner article:nth-of-type(3n + 1) {
  padding: 0 60px 0 0;
}

.news-section-inner article {
  padding: 0 30px 0 30px;
  height: 438px;
}

.news-section-inner article > a:hover {
  /*border-top: 10px solid #0DD194;*/
  /* transition-duration: 0.3s;
  margin-bottom: 0px;
 */ /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(13, 209, 148, 0.19);*/
}

/*.news-section-inner article > a:hover > span {
  color: #0DD194;
}*/

.news-section-inner article > a {
  display: block;
  border-top: 4px solid #0053fb;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10px;
  transition-duration: 0.2s;
}

.news-section-inner article > a img {
  width: 100%;
  height: 178px;
  object-fit: cover;
}

.news-section-inner article > a time {
  margin: 0;
  padding-top: 27px;
  padding-left: 25px;
  padding-right: 25px;
  display: block;
  color: #666666;
  font-family: "MCGeoM3-Light";
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
}

.news-section-inner article > a h3 {
  font-family: "MCGeoN2-Bold";
  font-size: 22px;
  color: #282828;
  padding: 0 25px;
  margin: 0;
  margin-top: 10px;
  height: 130px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
}

.news-section-inner article > a > span {
  color: #0053fb;
  font-family: "MCGeoN2-Regular";
  font-size: 17px;
  padding: 10px 29px 25px;
  margin-top: 10px;
  display: block;
}

.news-section-inner article > a > span > span {
  display: inline-block;
  position: relative;
  left: 8px;
  top: 1.5px;
}

.news-section-inner article > a > span:hover > .icon-arrow-thin-right {
  left: 12px;
  transition-duration: 0.3s;
  margin-bottom: 0px;
}

footer {
  margin-top: 50px;
}

.main-footer {
  background-image: url(../img/footerwave.png);
  padding: 170px 0 50px 0;
  background-repeat: no-repeat;
  background-position: top;
  background-color: white;
}

.main-footer .footer-social {
  padding-top: 50px;
}

.main-footer .footer-social > span {
  display: block;
  font-size: 14px;
  color: #282828;
  opacity: 0.5;
  font-family: "MCGeoN2-Regular";
}

.main-footer .footer-social > a {
  display: inline-block;
  font-size: 25px;
  color: #282828;
  margin-right: 15px;
  margin-top: 5px;
}

.main-footer .footer-social > a:hover {
  color: #0dd194;
}

.main-footer .footer-logo {
  text-align: center;
}

.main-footer .footer-logo > img {
  height: 180px;
}

.main-footer .footer-lang {
  text-align: right;
  padding-top: 50px;
}

.main-footer .footer-lang > span {
  display: block;
  color: #282828;
  opacity: 0.5;
  font-size: 14px;
  font-family: "MCGeoN2-Regular";
}

.main-footer .footer-lang > h3 {
  color: #282828;
  font-size: 18px;
  margin: 0;
  font-family: "MCGeoN2-Regular";
}

.main-footer .footer-lang > h3 > span {
  position: relative;
  font-size: 5px;
  top: -2px;
  left: 3px;
}

.footer-nav {
  padding-top: 50px;
}

.footer-nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

.footer-nav li:first-of-type {
  padding-left: 0px;
}

.footer-nav li:last-of-type {
  padding-right: 0px;
  border-right: none;
}

.footer-nav li {
  display: block;
  float: left;
  padding: 0px 29px;
  border-right: 1px solid #282828;
}

.footer-nav li:hover a {
  position: relative;
  top: -2px;
  color: #0dd194;
  transition-duration: 0.3s;
}

.footer-nav li > a {
  font-family: "MCGeoM3-Regular";
  font-size: 16px;
  color: #282828;
  transition-duration: 0.3s;
}

.rights-reserved {
  padding: 12px 0px;
  border-top: 1px solid #031a63;
}

.rights-reserved span {
  font-family: "MCGeoN2-Regular";
  font-size: 14px;
  color: #031a63;
}

.rights-reserved a {
  font-family: "MCGeoN2-Regular";
  font-size: 14px;
  color: #0dd194;
  float: right;
}

.partners {
  padding: 60px 60px 60px 100px;
}
.partners .slick-next {
  margin-right: 50px;
}
.partners .slick-prev {
  margin-left: 50px;
}

.partners .slick-arrow:before {
  font-size: 50px;
  position: relative;
  top: -20px;
}

.partner-img {
  display: inline-block;
  height: 90px;
  width: 160px;
  background-size: 100%;
  background-repeat: cover;
  transition-duration: 0.3s;
  background-position: center;
}

.partner-img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(13, 209, 148, 0.19);
  transition-duration: 0.3s;
}

.product-section {
  background-image: url(../img/midmapwave.png);
  padding: 50px 0;
  /*margin: 76.3px 0;*/
  background-size: 100% 100%;
  padding-bottom: 900px;
  padding-top: 201px;
  background-repeat: no-repeat;
}

.product-section-inner {
  position: relative;
}

.product-slider .slick-arrow:before {
  font-size: 50px;
  position: relative;
  top: -20px;
}

.product-slider .slick-prev {
  margin-left: -30px;
}

.product-slider .slick-next {
  margin-right: -30px;
}

.product img {
  height: 525px;
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

.product .product-description {
  background-color: rgba(0, 83, 251, 0.12);
  height: 410px;
  position: relative;
  top: 60px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 70px 50px;
}

.product .product-description span {
  font-family: "MCGeoM3-Light";
  font-size: 14px;
  color: #666666;
}

.product .product-description span span.darker {
  font-weight: 1000;
}

.product .product-description a {
  display: block;
}

.product .product-description a.download {
  font-size: 14px;
  font-family: "MCGeoM3-Regular";
  color: #0dd194;
  padding: 10px 0;
  margin: 40px 0;
}

.product .product-description a.download > span {
  color: #0dd194;
  position: relative;
  top: 1px;
  left: 5px;
  transition-duration: 0.3s;
}

.product .product-description a.download:hover > span {
  left: 8px;
  transition-duration: 0.3s;
}

.product .product-description a.more {
  font-family: "MCGeoN2-Regular";
  font-size: 20px;
  color: #0053fb;
}

.product .product-description a.more > span {
  color: #0053fb;
  position: relative;
  left: 5px;
  transition-duration: 0.3s;
}

.product .product-description a.more:hover > span {
  left: 8px;
  transition-duration: 0.3s;
}

.product-listing {
  margin-top: 100px;
}

.product-card {
  width: 80%;
  margin-left: 20%;
  background-color: white;
  border-radius: 5px;
  border-top: 6px solid #0dd194;
  transition-duration: 0.3s;
  margin-bottom: 10px;
}

.product-card:hover {
  border-top: 10px solid #0dd194;
  transition-duration: 0.3s;
  margin-bottom: 6px;
}

.product-card img {
  width: 100%;
  height: 178px;
  object-fit: cover;
}

.product-card .product-card-desc {
  padding: 30px 40px;
}

.product-card .product-card-desc span {
  font-family: "MCGeoM3-Light";
  font-size: 14px;
  color: #666666;
}

.product-card .product-card-desc span span.darker {
  font-weight: 1000;
}

.product-card .product-card-desc a {
  display: block;
}

.product-card .product-card-desc a.download {
  font-size: 14px;
  font-family: "MCGeoM3-Regular";
  color: #0dd194;
  padding: 10px 0;
  margin: 25px 0;
}

.product-card .product-card-desc a.download > span {
  color: #0dd194;
  position: relative;
  top: 1px;
  left: 5px;
  transition-duration: 0.3s;
}

.product-card .product-card-desc a.download:hover > span {
  left: 8px;
  transition-duration: 0.3s;
}

.product-card .product-card-desc a.more {
  font-family: "MCGeoN2-Regular";
  font-size: 20px;
  color: #0053fb;
}

.product-card .product-card-desc a.more > span {
  color: #0053fb;
  position: relative;
  left: 5px;
  transition-duration: 0.3s;
}

.product-card .product-card-desc a.more:hover > span {
  left: 8px;
  transition-duration: 0.3s;
}

.product-listing-desc {
  margin-left: 20px;
  padding: 10px 20px;
  width: 80%;
  border-bottom: rgba(0, 83, 251, 0.12) 1px solid;
}

.product-listing-desc h3 {
  color: black;
}

.product-listing-desc span {
  font-family: "MCGeoM3-Light";
  font-size: 14px;
  color: #666666;
}

.product-listing-desc span span.darker {
  font-weight: 1000;
}

.product-listing-desc:last-of-type {
  border-bottom: none;
}

.news-section-detailed img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.news-section-detailed .news-section-detailed-desc {
  padding: 50px 100px;
  padding-bottom: 123px;
}

.news-section-detailed .news-section-detailed-desc time {
  font-family: "MCGeoM3-Light";
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #a8a8a8;
}

.news-section-detailed .news-section-detailed-desc h1 {
  font-family: "MCGeoN2-Bold";
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal; 
  margin: 5px 0;
  color: #282828;
}

.news-section-detailed .news-section-detailed-desc p {
  font-family: "MCGeoN2-Light";
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #a8a8a8;
}

.products-card:nth-child(3n + 1) {
  padding-right: 5%;
  padding-top: 50px;
}

.products-card:nth-child(3n + 2) {
  padding-right: 2.5%;
  padding-left: 2.5%;
  padding-top: 50px;
}

.products-card:nth-child(3n + 3) {
  padding-left: 5%;
  padding-top: 50px;
}

.products-card .products-card-inner:hover {
  height: 447px;
  box-shadow: none;
  border: 2px solid #0053fb;
  transition-duration: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.products-card .products-card-inner {
  height: 447px;
  border-radius: 5px;
  border: 2px solid white;
  transition-duration: 0.3s;
}

.products-card .products-card-inner img {
  width: 100%;
  height: 235px;
  object-fit: cover;
}

.products-card .products-card-inner h5 {
  font-family: "MCGeoN2-Regular";
  font-size: 14px;
  color: #282828;
  padding: 10px 20px;
  height: 50px;
}

.products-card .products-card-inner span {
  font-family: "MCGeoM3-Light";
  font-size: 14px;
  color: #666666;
  padding: 10px 20px;
}

.products-card .products-card-inner a {
  display: block;
  width: 100%;
  padding: 15px 20px;
}

.products-card .products-card-inner:hover a.more {
  display: block;
}

.products-card .products-card-inner a.more:hover {
  color: white;
  background-color: #0053fb;
}

.products-card .products-card-inner a.more:hover span {
  color: white;
  left: 2px;
  transition-duration: 0.2s;
  position: relative;
}

.products-card .products-card-inner a.more {
  font-family: "MCGeoN2-Regular";
  font-size: 14px;
  color: #0053fb;
  border-top: 2px solid #f5f6f6;
  margin-top: 15px;
  display: none;
}

.products-card .products-card-inner a.more span {
  color: #0053fb;
  left: -10px;
  position: relative;
  transition-duration: 0.2s;
}

.products-card .products-card-inner:hover a.download {
  display: block;
}

.products-card .products-card-inner a.download:hover {
  color: white;
  background-color: #0dd194;
}

.products-card .products-card-inner a.download:hover span {
  color: white;
}

.products-card .products-card-inner a.download {
  font-family: "MCGeoN2-Regular";
  font-size: 14px;
  color: #0dd194;
  background-color: #f5f6f6;
  display: none;
}

.products-card .products-card-inner a.download span {
  left: -10px;
  color: #0dd194;
  position: relative;
}

.products-head {
  position: relative;
}

.products-head img {
  height: 320px;
  width: 100%;
  object-fit: cover;
}

.products-head > div.products-head-over-img {
  position: absolute;
  top: 120px;
  width: 100%;
}

.products-head > div.products-head-over-img h1 {
  color: #ffffff;
  font-family: "MCGeoM3-Bold";
  font-size: 50px;
}

.product-filter {
  border-bottom: 1px solid #f5f6f6;
  padding-bottom: 8px;
}

.product-filter ul {
  list-style-type: none;
  padding: 10px 0;
}

.product-filter ul li {
  float: left;
  font-family: "MCGeoN2-Regular";
  font-size: 14px;
  color: #282828;
  border-right: 1px solid #f5f6f6;
  padding: 5px 20px;
}

.product-filter ul li:hover {
  cursor: pointer;
}

.product-filter ul li span {
  position: relative;
  font-size: 5px;
  left: 5px;
  top: -2px;
}

.product-filter ul li button {
  border: none;
  background-color: white;
  color: #0053fb;
}

.product-filter ul li button:hover {
  color: #0dd194;
}

.product-filter ul li ul.submenu {
  display: none;
  position: absolute;
  background-color: white;
  width: 400px;
  max-height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* top: 30px; */
  margin-top: 30px;
  overflow-y: scroll;
  z-index: 5;
}

.product-filter ul li ul.submenu > li {
  float: none;
  border: none;
}

.product-filter ul li ul.submenu > li .styled-checkbox {
  position: absolute;
  opacity: 0;
}

.product-filter ul li ul.submenu > li .styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.product-filter ul li ul.submenu > li .styled-checkbox + label::after {
  content: "";
  margin-left: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  border: 1px solid #0053fb;
}

.product-filter ul li ul.submenu > li .styled-checkbox:hover + label:after {
  background: #0053fb;
}

.product-filter ul li ul.submenu > li .styled-checkbox:focus + label:after {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.product-filter ul li ul.submenu > li .styled-checkbox:checked + label:after {
  background: white;
}

.product-filter ul li ul.submenu > li .styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

.product-filter ul li ul.submenu > li .styled-checkbox:disabled + label::after {
  box-shadow: none;
  background: #ddd;
}

.product-filter ul li ul.submenu > li .styled-checkbox:checked + label::after {
  content: "✓";
  color: #0053fb;
  padding-left: 1px;
}

.product-filter ul li:hover {
  position: relative;
}

/* .product-filter ul li:hover ul.submenu {
  display: block;
} */

.careers-card .careers-card-inner:hover {
  box-shadow: none;
  border: 2px solid #0053fb;
  transition-duration: 0.3s;
}

.careers-card .careers-card-inner {
  height: 375px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  border: 2px solid white;
  transition-duration: 0.3s;
}

.careers-card .careers-card-inner address {
  font-family: "MCGeoM3-Regular";
  font-size: 12px;
  color: #282828;
  padding: 10px 20px;
  padding-top: 30px;
}

.careers-card .careers-card-inner h6 {
  font-family: "MCGeoN2-Bold";
  font-size: 14px;
  color: #282828;
  padding: 0px 20px;
}

.careers-card .careers-card-inner p {
  font-family: "MCGeoN2-Light";
  font-size: 12px;
  color: #282828;
  padding: 10px 20px;
  height: 173px;
}

.careers-card .careers-card-inner > span {
  width: 100%;
}

.careers-card .careers-card-inner > span > span {
  font-family: "MCGeoM3-Regular";
  font-size: 10px;
  color: #282828;
  padding: 0 20px;
}

.careers-card .careers-card-inner > span > span:last-child {
  float: right;
  position: relative;
  top: 5px;
}

.careers-card .careers-card-inner a {
  display: block;
  width: 100%;
  padding: 15px 20px;
}

.careers-card .careers-card-inner a.more:hover {
  color: white;
  background-color: #0053fb;
}

.careers-card .careers-card-inner a.more:hover span {
  color: white;
}

.careers-card .careers-card-inner a.more {
  font-family: "MCGeoN2-Regular";
  font-size: 14px;
  color: #0053fb;
  border-top: 2px solid #f5f6f6;
  margin-top: 15px;
}

.careers-card .careers-card-inner a.more span {
  color: #0053fb;
  left: 5px;
  top: 1px;
  position: relative;
}

.careers-card:nth-child(3n + 1) {
  padding-right: 3%;
  padding-top: 50px;
}

.careers-card:nth-child(3n + 2) {
  padding-right: 1.5%;
  padding-left: 1.5%;
  padding-top: 50px;
}

.careers-card:nth-child(3n + 3) {
  padding-left: 3%;
  padding-top: 50px;
}

.career-inner {
  position: relative;
}

.career-inner h5 {
  font-family: "MCGeoM3-Light";
  font-size: 14px;
  color: #666666;
  padding: 0 30px;
  padding-top: 30px;
}

.career-inner h3 {
  font-family: "MCGeoN2-Bold";
  font-size: 32px;
  color: #282828;
  padding: 0 30px;
  margin-top: 0px;
}

.career-inner a.back-to-vacancy {
  position: absolute;
  right: 60px;
  top: 65px;
  color: #a8030d;
  font-family: "MCGeoM3-Light";
  font-size: 14px;
  transition-duration: 0.3px;
}

.career-inner a.back-to-vacancy:hover {
  color: #d40412;
  transition-duration: 0.3px;
}

.career-inner span {
  padding: 0px 20px;
  display: inline-block;
  margin: 10px 0px;
  height: 15px;
  color: #282828;
  font-family: "MCGeoM3-Regular";
  font-size: 12px;
}

.career-inner span:first-of-type {
  padding-left: 30px;
  margin-left: 0;
}

.career-inner span:not(:last-of-type) {
  border-right: 1px solid #282828;
}

.career-inner span::before {
  position: relative;
  left: -2.5px;
}

.career-inner p {
  font-family: "MCGeoN2-Light";
  font-size: 22px;
  color: #666666;
  padding: 40px 30px;
}

.search-section {
  background-color: #f9f9f9;
  padding-bottom: 50px;
}

.search-section .search-inp {
  position: relative;
  margin-top: 200px;
  background-color: #f9f9f9;
}

.search-section span.icon-search1 {
  position: absolute;
  top: 10px;
  font-size: 26px;
  left: 10px;
}

.search-section input:focus {
  outline: none;
}

.search-section input {
  width: 100%;
  border: none;
  height: 45px;
  opacity: 0.5;
  border-radius: 6px;
  border: solid 1px #666666;
  padding: 2px 50px; 
  font-family: SegoeUI;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
}



.modal-search-input {
  border: none !important;
  border-bottom:solid 1px #666666 !important;
  background-color: #f9f9f9 !important;
  border-radius: 0px !important; 
}

.modal-search-ip-wrapper{

}

.search-section button.icon-long-arrow-right {
  position: absolute;
  right: 6px;
  font-size: 27px;
  top: 11px;
  background-color: transparent;
  border: none;
}

.search-section span.popular-res {
  width: 100px;
  height: 16px;
  opacity: 0.5;
  font-family: SegoeUI;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
  margin-top: 50px;
  display: block;
}

.search-section .pop-res {
  margin-top: 50px;
}

.search-section .pop-res a {
  width: 100%;
  display: block;
  /* text-align: center; */
  font-family: SegoeUI;
  font-size: 18px;
  padding: 20px;
}

.search-section .pop-res a:hover {
  background-color: white;
}

.search-section span.search-res {
  display: block;
  background-color: #f9f9f9;
  font-family: SegoeUI;
  font-size: 19px;
  color: #a8a8a8;
  margin-bottom: 14.5px;
  margin-top: 52px; 
}

.search-section .search-result {
  padding-top: 22.5px;
  border-top: 1px solid #707070;
}

.search-section div.res {
  padding: 40px 0px;
  cursor: pointer;
}

.search-section div.res h3 { 
  opacity: 0.5;
  font-family: SegoeUI;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #282828;
}

.search-section div.res:hover  > .res-title {
  color: #282828;
  opacity: 1;
}


.search-section div.res:hover  > .res-detail {
    color: #282828;  
    opacity: 1;
}

.search-section div.res:hover  > .res-detail {
    color: #282828;  
    opacity: 1;
}


.search-section div.res p {
  color: #666666;
  opacity: 0.5;
  font-family: MCGeoN2;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
}

.search-section div.res a {
  opacity: 0.5;
  font-family: MCGeoN2;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: right;
  color: #666666;
}

.search-section div.res a span {
  font-size: 19px;
  position: relative;
  top: 5px;
  color: #666666;
}

.search-section div.res a:hover {
  color: #282828;
}

.search-section div.res a:hover span {
  color: #282828;
}

.news-page {
  padding-top: 50px;
}

.news-page .news-section-card {
  height: 446px;
  border-top: 5px solid #a8030d;
  background-color: #f5f6f6;
  position: relative;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.news-page .news-section-card img {
  width: 100%;
  height: 178px;
  object-fit: cover;
}

.news-page .news-section-card span {
  display: block;
  padding: 27px 40px 10px 40px;
  font-family: "MCGeoM3-Light";
  font-size: 14px;
  color: #666666;
}

.news-page .news-section-card h2 {
  margin: 0;
  padding: 27px 40px 10px 40px;
  font-family: "MCGeoN2-Bold";
  font-size: 22px;
  height: 144px;
  overflow: hidden;
  color: #282828;
}

.news-page .news-section-card a {
  font-family: "MCGeoN2-Regular";
  font-size: 20px;
  display: block;
  color: #0053fb;
  padding: 0px 40px 38px 40px;
}

.news-page .news-section-card a > span {
  display: inline;
  color: #0053fb;
}

.news-page .news-page-card-list a:first-child span {
  padding-top: 0;
}

.news-page .news-page-card-list a {
  display: block;
  height: 105.5px;
  margin-top: 38.5px;
  border-bottom: 1px solid #f5f6f6;
}

.news-page .news-page-card-list a span {
  display: block;
  padding: 14px 20px;
  padding-top: 0px;
  font-family: "MCGeoM3-Light";
  font-size: 14px;
  color: #666666;
}

.news-page .news-page-card-list a h2 {
  margin: 0;
  padding: 0 20px;
  font-family: "MCGeoN2-Bold";
  font-size: 22px;
  height: 70px;
  overflow: hidden;
  color: #282828;
}

.news-page .news-page-list {
  margin-bottom: 50px;
}

.news-page .news-page-list a {
  display: block;
  background-color: #f5f6f6;
  padding: 0;
  margin-top: 80px;
  position: relative;
  height: 180px;
}

.news-page .news-page-list a img {
  width: 41.66666667%;
  /* display: inline-block; */
  height: 178px;
  object-fit: cover;
  /* margin-top: -72px; */
  display: inline-block;
  vertical-align: middle;
}

.news-page .news-page-list a div {
  width: 57.44444442%;
  height: 178px;
  display: inline-block;
  vertical-align: middle;
}

.news-page .news-page-list a div span {
  display: block;
  padding: 37px 50px 14px 50px;
  font-family: "MCGeoM3-Light";
  font-size: 14px;
  color: #666666;
}

.news-page .news-page-list a div h2 {
  margin: 0;
  padding: 0px 37px 50px 50px;
  font-family: "MCGeoN2-Bold";
  font-size: 22px;
  height: 109px;
  overflow: hidden;
  color: #282828;
}

.about-discover-section .discover-section {
  box-shadow: 0 -20px 12px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-top: -70px;
  margin-bottom: 161px;
  position: relative;
  padding: 38px 64px;
  padding-bottom: 0px;
  z-index: 1;
}

.about-discover-section .discover-section h1 {
  font-family: "MCGeoM3-Light";
  font-size: 50px;
  font-weight: 300;
  padding-bottom: 9px;
  color: #031a63;
  margin: 0px;
  text-align: center;
}

.about-discover-section .discover-section h1 span {
  font-family: "MCGeoM3-Bold";
  display: inline;
  font-size: 50px;
  color: #031a63;
}

.about-discover-section .discover-section span {
  font-family: "MCGeoM3-Light";
  font-size: 14px;
  color: #666666;
  display: block;
  margin: auto;
  width: fit-content;
}

.about-discover-section .discover-section p {
  margin-top: 68px;
  text-align: center;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  font-weight: 300;
  font-family: "MCGeoN2-Light";
  font-size: 22px;
  color: #b3b3b3;
}

.about-discover-section .Corporate-section {
  /*margin-top: 100px;*/
}

.about-discover-section .Corporate-section h2 {
  text-align: center;
  color: #031a63;
  margin: 0px;
  font-family: "MCGeoM3-Light";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  font-size: 50px;
}

.about-discover-section .Corporate-section div.infos {
  margin-top: 28px;
  height: 230px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.about-discover-section .Corporate-section div.infos div.middle {
  border-left: 1px solid #f5f6f6;
  border-right: 1px solid #f5f6f6;
}

.about-discover-section .Corporate-section div.infos div {
  height: 230px;
  margin-top: 5px;
}

.about-discover-section .Corporate-section div.infos div span {
  display: block;
  width: fit-content;
  margin: auto;
  color: #031a63;
  font-family: "MCGeoM3-Light";
  font-size: 18px;
  margin-top: 65px;
}

.about-discover-section .Corporate-section div.infos div h1 {
  text-align: center;
  color: #0053fb;
  font-family: "MCGeoM3-Light";
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.about-discover-section .Corporate-section p {
  text-align: center;
  padding: 0 64px;
  padding-top: 0px;
  margin-top: 184px;
  font-size: 22px;
  font-family: "MCGeoN2-Light";
  color: #666666;
}

.about-discover-section .team {
  margin-top: 152px;
  display: block;
  height: 1543px;
  margin-bottom: 159px;
}

.about-discover-section .team div.col-lg-6 {
  height: 771px;
  background-color: #f5f6f6;
  display: block;
}

.about-discover-section .team div.col-lg-6 img {
  width: 100%;
  height: 771px;
  object-fit: cover;
}

.about-discover-section .team div.col-lg-6 .text {
  width: 415px;
  margin-top: 236px;
  margin-right: 130px;
}

.about-discover-section .team div.col-lg-6 .text-right-custom {
  width: 415px;
  margin-top: 236px;
  margin-left: 130px;
}

.about-discover-section .team div.col-lg-6 .text h1,
.about-discover-section .team div.col-lg-6 .text-right-custom h1 {
  font-family: "MCGeoM3-Light";
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 55px;
  color: #031a63;
}

.about-discover-section .team div.col-lg-6 .text p,
.about-discover-section .team div.col-lg-6 .text-right-custom p {
  font-family: "MCGeoN2-Light";
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #a1a1a1;
}

.products-inner {
  margin-top: 100px;
}

.products-inner .col-lg-6 .logo {
  width: 95%;
  height: 504px;
  object-fit: cover;
}

.products-inner .col-lg-6.producrts-inner-child-col {
  padding-left: 40px;
}

.products-inner .col-lg-6 span.breadcrumbs {
  color: #c9c9c9;
  font-family: "MCGeoM3-Light";
  font-size: 14px;
}

.products-inner .col-lg-6 h2 {
  color: #282828;
  font-family: "MCGeoN2-Bold";
  font-size: 32px;
  margin-top: 9px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  /*padding: 25px 0;*/
}

.products-inner .col-lg-6 span.descr {
  font-family: "MCGeoN2-Light";
  color: #282828;
  font-size: 22px;
  padding: 5px 20px;
}

.products-inner .col-lg-6 span.descr > b {
  font-family: "MCGeoN2-Regular";
  font-weight: 300;
}

.products-inner .col-lg-6 p {
  padding: 5px;
  width: 95%;
  padding-top: 36px;
  font-family: "MCGeoN2-Light";
  font-size: 22px;
  color: #c9c9c9;
  height: 170px;
  overflow: hidden;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
}

.products-inner .col-lg-6 a.more {
  color: #0053fb;
  font-family: "MCGeoN2-Regular";
  font-size: 25px;
  margin-top: 19px;
  display: block;
}

.products-inner .col-lg-6 a.more > span {
  position: relative;
  right: -10px;
  top: 3px;
}

.products-inner .profuct-data {
  margin-top: 25px;
}

.products-inner .profuct-data .col-lg-6.graybck > .row {
  background-color: #f5f6f6;
  text-align: center;
  padding-top: 34.5%;
}

.products-inner .profuct-data .col-lg-6.graybck > .row h3 {
  font-family: "MCGeoN2-Bold";
  font-size: 32px;
}

.products-inner .profuct-data .col-lg-6.graybck > .row h3.data {
  color: #0053fb;
}

.products-inner .profuct-data .col-lg-6.graybck > .row h3.download {
  color: #0dd194;
}

.products-inner .profuct-data .col-lg-6 > .row {
  height: 569px;
}

.products-inner .profuct-data .col-lg-6 > .row div.data {
  margin-top: 70px;
}

.products-inner
  .profuct-data
  .col-lg-6
  > .row
  div.data
  .product-details:last-child {
  border: none;
}

.products-inner .profuct-data .col-lg-6 > .row div.data .product-details {
  display: block;
  width: 80%;
  margin: auto;
  padding: 20px 10px;
  font-family: "MCGeoN2-Light";
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #282828;
}

.products-inner
  .profuct-data
  .col-lg-6
  > .row
  div.data
  .product-details
  .details-value {
  color: #c9c9c9;
}

.products-inner .profuct-data .col-lg-6 > .row div.data span > b {
  font-family: "MCGeoN2-Regular";
  font-weight: 300;
  width: 150px;
  display: inline-block;
}

.products-inner .profuct-data .col-lg-6 > .row div.download {
  margin-top: 133px;
  padding-right: 70px;
  padding-left: 46.6px;
}

.products-inner .profuct-data .col-lg-6 > .row div.download a {
  padding-bottom: 58px;
  display: block;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  width: 90%;
  font-family: "MCGeoN2-Regular";
  color: #0053fb;
  margin: auto;
}

.products-inner .profuct-data .col-lg-6 > .row div.download a span {
  display: inline-block;
  margin-right: 14px;
  font-size: 25px;
  position: relative;
  top: 2px;
}

.products-inner section.more-product-section.col-lg-12 {
  margin-top: 158px;
}

.products-inner .more-products-card {
  height: 375px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  border-radius: 5px;
  /*border: 2px solid white;*/
  transition-duration: 0.3s;
}

.products-inner .more-products-card img {
  width: 100%;
  height: 233px;
  padding: 0 25px;
  object-fit: cover;
}

.products-inner .more-products-card h5 {
  font-family: "MCGeoN2-Regular";
  font-size: 14px;
  color: #282828;
  padding: 24px 25px 6px 25px;
  margin: 0;
  height: 50px;
}

.products-inner .more-products-card span {
  font-family: "MCGeoM3-Light";
  font-size: 14px;
  padding: 0 25px;
  color: #666666;
}

.products-inner .more-products-card a {
  display: block;
  width: 100%;
  padding: 18px 0;
}

.products-inner .more-products-card a.more:hover {
  color: white;
  background-color: #0053fb;
  border-radius: 5px;
}

.products-inner .more-products-card a.more:hover span {
  color: white;
}

.products-inner .more-products-card a.more {
  font-family: "MCGeoN2-Regular";
  font-size: 14px;
  color: #0053fb;
  padding: 17.5px 25px 18px 25px;
  border-top: 2px solid #f5f6f6;
  margin-top: 17px;
}

.products-inner .more-products-card a.more span {
  color: #0053fb;
  left: -10px;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
.products-inner span.more {
  color: #0053fb;
  font-family: "MCGeoN2-Regular";
  font-size: 25px;
  margin-top: 19px;
  display: block;
  cursor: pointer;
}

#descriptionDiv {
  width: 100%;
  margin: 50px 0;
}

section.contact-page p {
  width: 100%;
  padding: 75px 64px 65px 64px;
  text-align: center;
  font-family: "MCGeoN2-Light";
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #a8a8a8;
  font-weight: 300;
}

section.contact-page div.contact-block {
  height: 308px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
}

section.contact-page div.contact-block > div.col-lg-6:first-of-type {
  border-right: 2px solid rgba(0, 0, 0, 0.16);
}

section.contact-page div.contact-block > div.col-lg-6 {
  height: 270px;
  margin-top: 15.5px;
  padding-top: 40px;
}

section.contact-page div.contact-block > div.col-lg-6 span {
  display: block;
  font-family: "MCGeoN2-Light";
  font-size: 22px;
  color: #a8a8a8;
  padding: 7.5px 90px;
}

section.contact-page div.contact-block > div.col-lg-6 a {
  display: block;
  font-family: "MCGeoN2-Light";
  font-size: 22px;
  color: #0053fb;
  padding: 7.5px 90px;
}

.mobile-version {
  display: none;
}

.product-system {
  color: #c9c9c9;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
}

.margin-top-73 {
  margin-top: 73px;
}
.margin-bottom-news {
  margin-bottom: 76.3px;
}
.underbar {
  visibility: hidden;
  height: 5px;
  background: red;
  top: 65px;
  -webkit-transition: 0.5s ease;
}
/* }
.animated-menu {
  cursor: pointer;
}
.animated-menu:nth-of-type(2):hover ~ .underbar {
  left: 190px;
  width: 40px;
  background: #c86464;
}
.animated-menu:nth-of-type(3):hover ~ .underbar {
  left: 100px;
  width: 40px;
  height: 5px;
  background: #c86464;
}
.animated-menu:nth-of-type(4):hover ~ .underbar {
  left: 150px;
  width: 40px;
  height: 5px;
  background: #c86464;
}
.animated-menu:nth-of-type(5):hover ~ .underbar {
  left: 200px;
  width: 40px;
  height: 5px;
  background: #c86464;
}
.animated-menu:nth-of-type(6):hover ~ .underbar {
  left: 250px;
  width: 40px;
  height: 5px;
  background: #c86464;
} */
/*# sourceMappingURL=style.css.map */
